[user]
	email = dexterlb@qtrp.org
	name = dexterlb

[pull]
	ff = "only"

[merge]
	ff = false

[commit]
	verbose = true

[sendemail]
	smtpserver = mx.kmail.bg
	smtpuser = angel@qtrp.org
	smtpencryption = ssl
	smtpserverport = 465

[alias]
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	mbdiff = "!f() { if [[ $# -eq 0 ]]; then branch=master; else branch=$1; fi; git diff $(git merge-base --fork-point $branch); }; f"
	fap = "!f() { \\\n  git fetch && \\\n  if ! git diff --quiet || ! git diff --cached --quiet; then \\\n    echo \"cowardly refusing to fap when workdir is dirty\" >&2; exit 1; \\\n  fi && \\\n  git reset --hard @{u}; \\\n}; f"
	hard-fap = "!f() { \\\n  git fetch && git reset --hard @{u}; \\\n}; f"
