[user]
	email = dexterlb@qtrp.org
	name = dexterlb

[pull]
	rebase = false

[merge]
	ff = false

[commit]
	verbose = true

[sendemail]
	smtpserver = mx.kmail.bg
	smtpuser = angel@qtrp.org
	smtpencryption = ssl
	smtpserverport = 465

[alias]
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	mbdiff = "!f() { if [[ $# -eq 0 ]]; then branch=master; else branch=$1; fi; git diff $(git merge-base --fork-point $branch); }; f"
